#friendslogo {
    width: 80%;
    height: auto;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#friendsquizlogo {
    width: 70%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#nameinput {
    padding-left: 7%;
}

.friendsimg {
    width: 100%;
    margin-top: 30%;
}

#takequizbutton {
    width: 100%;
    height: auto;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;  
    display: block;
}

#submitbutton {
    width: 70%;
    height: auto;
    margin: 12% auto 12% auto;
    display: block;
}

#myBtn {
    width: 70%;
    height: auto;
    margin: 12% auto 12% auto;
    display: block;
}


h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    line-height: 150%;
    margin-top: 2%;
}

form {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 150%;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}